recursive-include extract_rules *.pyx
recursive-include extract_rules *.pxd
recursive-include extract_rules *.c
recursive-include example_sampling *.pyx
recursive-include example_sampling *.pxd
recursive-include example_sampling *.c
