site_name: WoodTapper
site_url: https://artefactory.github.io/woodtapper
repo_url: https://github.com/artefactory/woodtapper
edit_uri: edit/main/docs/
repo_name: WoodTapper
theme:
  name: "material"
  palette:
      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: teal
        accent: amber
        toggle:
          icon: material/white-balance-sunny
          name: Switch to light mode
      - media: "(prefers-color-scheme: dark)"
        scheme: slate
        primary: teal
        accent: amber
        toggle:
          icon: material/moon-waning-crescent
          name: Switch to dark mode
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.math
    - content.action.edit
  logo: https://raw.githubusercontent.com/artefactory/woodtapper/main/data/logos/logo_woodpecker_compressed.png
  logo_dark: https://raw.githubusercontent.com/artefactory/woodtapper/main/data/logos/logo_woodpecker_compressed_light.png
  favicon: https://raw.githubusercontent.com/artefactory/woodtapper/main/data/logos/logo_woodpecker_compressed.png
  favicon_dark: https://raw.githubusercontent.com/artefactory/woodtapper/main/data/logos/logo_woodpecker_compressed_light.png

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
  - attr_list
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax-config.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_style: numpy
          show_source: true

nav:
  - Home: index.md
  - Installation: installation.md
  - Tutorials:
    - Tutorials Overview: 0_tutorials.md
    - Rules Extractors: 1_tutorials.md
    - Example-based explainability: 2_tutorials_example_exp.md

  - References:
    - Rules Extractors:
      - Classification Extractors: references/classification_extractors.md
      - Regression Extractors: references/regression_extractors.md
      - Base Extractors Mixin: references/mixin.md
    - Example-based explainability:
      - Classification Example Explanation: references/classification_explanation.md
      - Regression Example Explanation: references/regression_explanation.md
      - Base Explanation Mixin: references/mixin_explanation.md
