name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11","3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pytest
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov

      - name: Install dependencies and Build Cython extensions
        run: |
          pip install -e .[dev,docs]

      - name: Run tests with coverage
        run: |
          pytest --cov=woodtapper/extract_rules --cov=woodtapper/example_sampling/ --cov-report=term-missing --cov-report=xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report-${{ matrix.python-version }}  # Make the name unique
          path: coverage.xml
